In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
horror_films_df = pd.read_csv('horror_movies.csv', sep = ',')

<h2>Getting Aquainted with the Dataset</h2>
<p>There are a few operations we can do to work out the shape and size of the dataset</p>
<p>Results:</p>
<p>The data set consists of 32540 horror films</p>
<p>For each film we have 20 items of data, listed in "keys"</p>

In [3]:
len(horror_films_df)

32540

In [11]:
horror_films_df.head()

,original_title,title,original_language,release_date,popularity,vote_count,vote_average,budget,revenue,runtime,status,adult,genre_names,collection,collection_name
0,Orphan: First Kill,Orphan: First Kill,en,2022-07-27,5088.584,902,6.9,0,9572765,99,Released,False,"Horror, Thriller",760193.0,Orphan Collection
1,Beast,Beast,en,2022-08-11,2172.338,584,7.1,0,56000000,93,Released,False,"Adventure, Drama, Horror",NaN,NaN
2,Smile,Smile,en,2022-09-23,1863.628,114,6.8,17000000,45000000,115,Released,False,"Horror, Mystery, Thriller",NaN,NaN
3,The Black Phone,The Black Phone,en,2022-06-22,1071.398,2736,7.9,18800000,161000000,103,Released,False,"Horror, Thriller",NaN,NaN
4,Presencias,Presences,es,2022-09-07,1020.995,83,7.0,0,0,0,Released,False,Horror,NaN,NaN

In [5]:
len(horror_films_df.keys())

20

In [6]:
horror_films_df.keys()

Index(['id', 'original_title', 'title', 'original_language', 'overview',
       'tagline', 'release_date', 'poster_path', 'popularity', 'vote_count',
       'vote_average', 'budget', 'revenue', 'runtime', 'status', 'adult',
       'backdrop_path', 'genre_names', 'collection', 'collection_name'],
      dtype='object')

In [7]:
data_types = [horror_films_df[column_name].dtype for column_name in horror_films_df.columns]

for column_name, data_type in zip(horror_films_df.columns, data_types):
    print(f"Data Type of '{column_name}' Column: {data_type}")

Data Type of 'id' Column: int64
Data Type of 'original_title' Column: object
Data Type of 'title' Column: object
Data Type of 'original_language' Column: object
Data Type of 'overview' Column: object
Data Type of 'tagline' Column: object
Data Type of 'release_date' Column: object
Data Type of 'poster_path' Column: object
Data Type of 'popularity' Column: float64
Data Type of 'vote_count' Column: int64
Data Type of 'vote_average' Column: float64
Data Type of 'budget' Column: int64
Data Type of 'revenue' Column: int64
Data Type of 'runtime' Column: int64
Data Type of 'status' Column: object
Data Type of 'adult' Column: bool
Data Type of 'backdrop_path' Column: object
Data Type of 'genre_names' Column: object
Data Type of 'collection' Column: float64
Data Type of 'collection_name' Column: object

In [9]:
horror_films_df['original_language'].unique()

array(['en', 'es', 'zh', 'it', 'ru', 'ja', 'eo', 'fr', 'pl', 'ko', 'th',
       'de', 'pt', 'tr', 'sv', 'no', 'fi', 'sr', 'mk', 'hi', 'da', 'ca',
       'nl', 'cn', 'id', 'nb', 'is', 'tl', 'fa', 'eu', 'hu', 'bn', 'cs',
       'ta', 'lv', 'et', 'he', 'ml', 'uk', 'te', 'ar', 'lo', 'cy', 'sh',
       'el', 'mr', 'ms', 'kn', 'sl', 'xx', 'vi', 'gl', 'as', 'bg', 'km',
       'af', 'ro', 'hr', 'xh', 'sk', 'ga', 'my', 'ur', 'mn', 'tw', 'sq',
       'az', 'cr', 'ne', 'lt', 'mh', 'bs', 'fo', 'si', 'kl', 'jv', 'ig',
       'so', 'lb', 'bo', 'kk', 'pa', 'dv', 'yi', 'gv', 'mt', 'mg', 'gu',
       'sn', 'ky', 'su', 'ss', 'ps', 'la', 'lg', 'to', 'am'], dtype=object)

In [10]:
horror_films_df['original_language'].value_counts()

original_language
en    21923
es     1661
ja     1639
pt      676
de      631
      ...
az        1
sq        1
ga        1
xh        1
am        1
Name: count, Length: 97, dtype: int64

<h2>Data Cleaning</h2>

In [8]:
horror_films_df = horror_films_df.drop(['id', 'overview', 'tagline', 'poster_path', 'backdrop_path'], axis=1)

horror_films_df.head()

,original_title,title,original_language,release_date,popularity,vote_count,vote_average,budget,revenue,runtime,status,adult,genre_names,collection,collection_name
0,Orphan: First Kill,Orphan: First Kill,en,2022-07-27,5088.584,902,6.9,0,9572765,99,Released,False,"Horror, Thriller",760193.0,Orphan Collection
1,Beast,Beast,en,2022-08-11,2172.338,584,7.1,0,56000000,93,Released,False,"Adventure, Drama, Horror",NaN,NaN
2,Smile,Smile,en,2022-09-23,1863.628,114,6.8,17000000,45000000,115,Released,False,"Horror, Mystery, Thriller",NaN,NaN
3,The Black Phone,The Black Phone,en,2022-06-22,1071.398,2736,7.9,18800000,161000000,103,Released,False,"Horror, Thriller",NaN,NaN
4,Presencias,Presences,es,2022-09-07,1020.995,83,7.0,0,0,0,Released,False,Horror,NaN,NaN